In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import json

In [2]:
# This will run the webscrape but it takes a while to do so, therefore, we have added the scraped code as a CSV call below to save on time in grading. To run the webscrape and gather current data, uncomment this section and run but DO NOT RUN THE CSV CALL BELOW.

# # specify the url
# auto_full_details = []
# auto_details = []


# for page_num in range(1,3447):
#     auto_url = 'https://www.autolist.com/search?location=location=Atlanta,%20GA&latitude=33.7489954&longitude=-84.3879824&radius=50&page=' + \
#     str(page_num)+'&radius=5000&jumpstart=desktop'
#     response = requests.get(auto_url)
#     auto_full_details = auto_full_details + json.loads(response.text)['records']


# for item in auto_full_details:
#     auto_details.append({
#       "vin": item["vin"] ,
#       "display_color": item["display_color"],
#       "year": item["year"],
#       "make": item["make"],
#       "model": item["model"],
#       "price": item["price"],
#       "mileage": item["mileage"],
#       "city": item["city"],
#       "condition": item["condition"],
#       "dealer_name": item["dealer_name"],
#       "state": item["state"],
#       "trim": item["trim"],
#       "body_type": item["body_type"],
#       "body_style": item["body_style"],
#       "monthly_payment": item["monthly_payment"],
#       "provider_name": item["provider_name"]
#     })


# auto_df = pd.DataFrame(auto_details)

In [3]:
auto_df=pd.read_csv('OGResources/AutoListData.csv')

In [4]:
auto_df

,vin,display_color,year,make,model,price,mileage,city,condition,dealer_name,state,trim,body_style
0,WP1AA2A59HLB04454,Jet Black Metallic,2017,Porsche,Macan,"$39,499","46,216 Miles",Miami,used,Florida Fine Cars Miami,FL,Base,suv
1,1FTEX1EP1JFB61095,Shadow Black,2018,Ford,F-150,"$34,999","32,170 Miles",Miami,used,Florida Fine Cars Miami,FL,XLT,truck
2,3GKALPEV8KL250380,Red Quartz Tintcoat,2019,GMC,Terrain,"$24,097","48,618 Miles",Spokane,used,Avis Car Sales Spokane,WA,SLT,suv
3,2C3CDZFJ2KH684574,Sublime Pearlcoat,2019,Dodge,Challenger,"$46,299","9,981 Miles",Margate,used,Florida Fine Cars - Margate,FL,R/T Scat Pack,coupe
4,5FNYF6H0XHB090862,White Diamond Pearl,2017,Honda,Pilot,"$28,299","69,243 Miles",Margate,used,Florida Fine Cars - Margate,FL,Elite,suv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852,1C4AJWAG5JL854658,Gray,2018,Jeep,Wrangler,"$34,999","28,738 Miles",Missoula,used,Northwest Motorsport - Missoula,MT,Sport,suv
4853,1C6SRFJT2MN823734,Granite Crystal Metallic Clearcoat,2021,Ram,Pickup 1500,"$57,005",New,Huntsville,new,Wischnewsky Dodge Chrysler Jeep,TX,Laramie,truck
4854,1G11Z5SA1KU137577,Mosaic Black Metallic,2019,Chevrolet,Impala,"$21,600","54,839 Miles",Philadelphia,used,Hertz Car Sales Philadelphia,PA,LT,sedan
4855,1FM5K8GC1LGA11112,Magnetic,2020,Ford,Explorer,"$50,999","21,635 Miles",Stafford,used,Texas Direct Auto,TX,ST,suv
4856,1HGCV1F18JA042692,Champagne Frost Pearl,2018,Honda,Accord,"$22,299","31,361 Miles",Santa Ana,used,California Motors Direct1,CA,LX,sedan

In [5]:
len(auto_df['vin'].unique())

4857

In [8]:
clean_auto_df = auto_df  #.dropna().drop(columns='body_type').drop(columns='monthly_payment').drop(
#     columns='index').drop(columns='provider_name').set_index('vin')

In [9]:
clean_auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857 entries, 0 to 4856
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   vin            4857 non-null   object
 1   display_color  4856 non-null   object
 2   year           4857 non-null   int64
 3   make           4857 non-null   object
 4   model          4857 non-null   object
 5   price          4857 non-null   object
 6   mileage        4849 non-null   object
 7   city           4857 non-null   object
 8   condition      4857 non-null   object
 9   dealer_name    4857 non-null   object
 10  state          4857 non-null   object
 11  trim           4857 non-null   object
 12  body_style     4857 non-null   object
dtypes: int64(1), object(12)
memory usage: 493.4+ KB

In [10]:
clean_auto_df

,vin,display_color,year,make,model,price,mileage,city,condition,dealer_name,state,trim,body_style
0,WP1AA2A59HLB04454,Jet Black Metallic,2017,Porsche,Macan,"$39,499","46,216 Miles",Miami,used,Florida Fine Cars Miami,FL,Base,suv
1,1FTEX1EP1JFB61095,Shadow Black,2018,Ford,F-150,"$34,999","32,170 Miles",Miami,used,Florida Fine Cars Miami,FL,XLT,truck
2,3GKALPEV8KL250380,Red Quartz Tintcoat,2019,GMC,Terrain,"$24,097","48,618 Miles",Spokane,used,Avis Car Sales Spokane,WA,SLT,suv
3,2C3CDZFJ2KH684574,Sublime Pearlcoat,2019,Dodge,Challenger,"$46,299","9,981 Miles",Margate,used,Florida Fine Cars - Margate,FL,R/T Scat Pack,coupe
4,5FNYF6H0XHB090862,White Diamond Pearl,2017,Honda,Pilot,"$28,299","69,243 Miles",Margate,used,Florida Fine Cars - Margate,FL,Elite,suv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852,1C4AJWAG5JL854658,Gray,2018,Jeep,Wrangler,"$34,999","28,738 Miles",Missoula,used,Northwest Motorsport - Missoula,MT,Sport,suv
4853,1C6SRFJT2MN823734,Granite Crystal Metallic Clearcoat,2021,Ram,Pickup 1500,"$57,005",New,Huntsville,new,Wischnewsky Dodge Chrysler Jeep,TX,Laramie,truck
4854,1G11Z5SA1KU137577,Mosaic Black Metallic,2019,Chevrolet,Impala,"$21,600","54,839 Miles",Philadelphia,used,Hertz Car Sales Philadelphia,PA,LT,sedan
4855,1FM5K8GC1LGA11112,Magnetic,2020,Ford,Explorer,"$50,999","21,635 Miles",Stafford,used,Texas Direct Auto,TX,ST,suv
4856,1HGCV1F18JA042692,Champagne Frost Pearl,2018,Honda,Accord,"$22,299","31,361 Miles",Santa Ana,used,California Motors Direct1,CA,LX,sedan

In [ ]:
clean_auto_df.to_csv('CleanResources/AutoListData.csv',index=False)